<h1>Exhibits</h1>

<% @exhibits.each do |exhibit| %>
  <h2><%= exhibit.name %></h2>
  <p>Houses Deadly Creatures: <%= exhibit.houses_deadly_creatures %></p>
  <p>Number of Occupants: <%= exhibit.number_of_occupants %></p>
  <p>Zoo: <%= exhibit.zoo_name %></p>
<% end %>
