<h2><%= @exhibit.name %></h2>
<p style="text-align:right"><a href="/exhibits">Exhibits</a></p>
<p style="text-align:right"><a href="/zoos">Zoos</a></p>
<p>Houses Deadly Creatures: <%= @exhibit.houses_deadly_creatures %></p>
<p>Number of Occupants: <%= @exhibit.number_of_occupants %></p>
<p>Zoo: <%= @exhibit.zoo_name %></p>
